---
layout: layouts/default
title: All Post Tags
permalink: /tags/
---

<ul class="tag-list">
    {% for tag in collections.tagList %}
    <li class="tag"><a href="{{ tag }}/">{{ tag }}</a></li>
    {% endfor %}
</ul>