{%- macro postsList(posts) -%}

<ul class="post-list">
    {% for post in posts | sortDesc %}
    <li class="post-list-item">
        <a class="post-list-item-title" href="{{ post.url }}">{{ post.data.title }}</a>
        <div class="post-list-item-meta">
            P: <time datetime="{{ post.data.date | dateISO }}">{{ post.data.date | datePretty }}</time>
            {% if post.data.updated %}
                | U: <time datetime="{{ post.data.updated | dateISO }}">{{ post.data.updated | datePretty }}</time>
            {% endif %}
        </div>
        <p>
            {{ post.data.description }}
            <i><a href="{{ post.url }}">read more...</a></i>
        </p>
    </li>
    <hr>

    {% endfor %}
</ul>

{% endmacro %}