{%- macro yearsList(years) -%}
  <ul class="inline-flex flex-row flex-wrap justify-center gap-2">
    {%- for year in years %}
      {%- set yearUrl %}/posts/{{ year }}/{% endset %}
      <li>
        <a
          href="{{ yearUrl }}"
          class="block rounded-md border border-solid border-gray-500 px-2 py-0.5 text-center text-sm hover:bg-gray-200 hover:no-underline dark:hover:bg-neutral-700"
          >{{ year }}</a
        >
      </li>
    {%- endfor %}
  </ul>
{% endmacro %}
