{%- macro yearsList(years) -%}

<ul class="inline-flex flex-row flex-wrap justify-center gap-2">
    {%- for year in years %}
    {%- set yearUrl %}/posts/{{ year }}/{% endset %}
    <li>
        <a href="{{ yearUrl }}" class="block border border-solid rounded-md border-gray-500 py-0.5 px-2 hover:no-underline hover:bg-gray-200 dark:hover:bg-neutral-700 text-center text-sm">{{ year }}</a>
    </li>
    {%- endfor %}
</ul>

{% endmacro %}