<!DOCTYPE html>
<html lang='en'>
<head>
{% include 'partials/head.njk' %}
</head>
<body class="h-screen w-full flex flex-col items-center">

{% include 'partials/header.njk' %}

<main class="flex-grow p-4 mx-auto my-0 w-full max-w-5xl">
    {{ content | safe }}
</main>

{% include 'partials/footer.njk' %}
<script src="/static/js/script.js"></script>
</body>
</html>