<!doctype html>
<html lang="en">
  <head>
    {% include 'partials/head.njk' %}
  </head>
  <body
    class="flex min-h-screen w-full flex-col items-center bg-neutral-50 text-zinc-800 transition-colors duration-500 ease-in-out dark:bg-neutral-900 dark:text-zinc-200"
  >
    {% include 'partials/header.njk' %}

    <main class="mx-auto w-full max-w-3xl flex-grow px-4 py-10">{{ content | safe }}</main>

    {% include 'partials/footer.njk' %}
  </body>
</html>
