---
layout: layouts/base
---

<h1 class="mx-0 my-8 text-4xl font-semibold">{{ title }}</h1>

<hr class="my-8" />

{% if '.md' in page.inputPath %}
  <div class="prose max-w-none dark:prose-invert prose-code:before:hidden prose-code:after:hidden">
    {{ content | safe }}
  </div>
{% else %}
  <div>{{ content | safe }}</div>
{% endif %}
