---
layout: layouts/base
---

<article>
    <div class="post-header">
        <h1>{{ title }}</h1>
        <p class="subheading">{{ description }}</p>
        <div class="post-meta text-muted">
            <div class="text-s">
                <time datetime="{{ page.date | dateISO }}">{{ page.date | datePretty }}</time>
                {% if updated %}
                | Updated: <time datetime="{{ updated | dateISO }}">{{ updated | datePretty }}</time>
                {% endif %}
                <span> | {{ content | readingTime }} read </span>
            </div>
        </div>
    </div>
    <hr>
    {{ content | safe }}
</article>

<div class="post-footer">
    Tagged: 
    <ul class="tag-list">
        {% for tag in tags %}
        <li class="tag"><a href="/tags/{{ tag }}/">{{ tag }}</a></li>
        {% endfor %}
    </ul>
    
    <p class="text-s text-muted">Got something to share? The source for this page is available on {% page_source_link 'GitHub' %}</p>
</div>