---
layout: layouts/base
---

<article>
    <h1>{{ title }}</h1>
    <p>
        Published: <time datetime="{{ page.date | dateISO }}">{{ page.date | datePretty }}</time>
        {% if updated %}
        <br>Updated: <time datetime="{{ updated | dateISO }}">{{ updated | datePretty }}</time>
        {% endif %}
    </p>
    <hr>
    {{ content | safe }}
</article>