/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('/static/fonts/open-sans-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/static/fonts/open-sans-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --width-content: 70rem;
    --background-color: #0f1720;
    --text-color: #f2f2f2;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--background-color);
    font-family: "Open Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Droid Sans","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: var(--text-color);
}

header, main, footer {
    width: 100%;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: var(--width-content);
    margin: 0 auto;
    padding: 1rem;
}

header .site-logo {
    
}

header .site-logo-link{
    max-height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

header .site-logo-image{
    max-height: 3rem;
    border: 1px solid var(--text-color);
    padding: .5rem;
}



header .site-nav{
}

header .site-nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    list-style: none;
    padding: 0;
}

header .site-nav li {
    display: inline-block;
    text-align: center;
    padding: 0;
}

header a {
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

header .site-nav li a:visited{

}

main{
    flex-grow: 1;
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
    max-width: var(--width-content);
}

footer{

}

footer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;


    width: 100%;
    max-width: var(--width-content);
    margin: 0 auto;
    padding: 1rem;

}

footer p {
    margin: .5rem 0;
}

footer a {
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}

a {
    color: inherit;
} 


/* media queries */
@media (prefers-color-scheme: light){
    :root{
        --background-color: #f2f2f2;    
        --text-color: #242424;    
    }
}