@import url('../fonts/public-sans/400.css');
@import url('../fonts/jetbrains-mono/400.css');

:root {
    --width-content: 60rem;
    --background-color: #0f1720;
    --secondary-background-color: #1c2a3b;
    --border-color: #406188;
    --text-color: #f2f2f2;
    --pre-text-color: #f2f2f2;
    --hyperlink-color: #759fc3;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--background-color);
    /* font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
    font-family: "Public Sans",ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Droid Sans","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: var(--text-color);
    font-size: 1.25rem;
}

a{
    color: inherit;
    font-weight: 700;
    text-decoration: none;
}

a:hover{
    text-decoration: underline solid 2px;
}

main a {
    color: var(--hyperlink-color);
}

header, main, footer {
    width: 100%;
    padding: 0;
}

header a, footer a{
    font-weight: 400;
}

header{
    background-color: var(--secondary-background-color);
    border-bottom: 1px solid var(--border-color);
    font-size: 1.2rem;
}

header > div {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: .5rem;

    width: 100%;
    max-width: var(--width-content);
    margin: 0 auto;
    padding: .5rem 1rem;
}

header .site-logo {
    
}

header .site-logo-link{
    max-height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

header .site-logo-image{
    max-height: 2.75rem;
    border: 1px solid var(--text-color);
    padding: .25rem;
    background-color: #0f1720;
}



header .site-nav{
}

header .site-nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    list-style: none;
    padding: 0;
}

header .site-nav li {
    display: inline-block;
    text-align: center;
    padding: 0;
}

main{
    flex-grow: 1;
    padding: 0 1rem;
    margin: 0 auto;
    width: 100%;
    max-width: var(--width-content);
    line-height: 1.75rem;
}

pre, code, kbd{
    font-size: 1rem;
    font-family: 'JetBrains Mono', monospace;
}

pre{
    white-space: pre-wrap;
    overflow: auto;
}

pre code{
    display: inline-block;
    /* border-left: 4px solid #ffe135; */
    background-color: #1c2a3b;
    width: 100%;
    padding: 1rem calc(2rem - 6px);
}

code {
    padding: 2px 6px;
    word-wrap: break-word;
    background-color: #1c2a3b;
    color: var(--pre-text-color);
    border: 1px solid var(--border-color);
}


footer{
    background-color: var(--secondary-background-color);
    border-top: 1px solid var(--border-color);
}

footer > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    column-gap: .5rem;

    width: 100%;
    max-width: var(--width-content);
    margin: 0 auto;
    padding: .5rem 1rem;
}

footer p {
    margin: .5rem 0;
}

article h1{
    font-size: 2rem;
}

/* posts stuff */
.post-list{
    list-style-type: none;
    padding: 0;
}

.post-list .post-list-item{
    padding: .5rem 0;
}

.post-list .post-list-item-title{
    font-size: 1.75rem;
    margin-top: .5rem;
    margin-bottom: 0;
    display: block;
}

.post-list .post-list-item-meta{
    font-size: .9rem;
}

.post-list hr{
    border: 1px solid var(--border-color);
}

.page-nav {
    list-style-type: none;
    margin: .5rem 0;
    padding: 0;
    text-align: center;
}

.page-nav li{
    display: inline-block;
    margin: 0 .25rem;
    padding: 0;
}

.page-nav li .page-nav-page-num{
    padding: .25rem .5rem;
}

[aria-current]{
    border: 1px solid var(--border-color);
}

.hr-dashed{
    border-bottom: 1px dashed #f2f2f2;
}

.text-right{
    text-align: right;
}

/* media queries */
@media (prefers-color-scheme: light){
    :root{
        --background-color: #f2f2f2;    
        --text-color: #242424;    
    }

    header, footer{
        color: #f2f2f2;
    }

    header .site-logo-image {
        border: 1px solid #f2f2f2;
    }
}