@import url('../fonts/noto-sans/400.css');
@import url('../fonts/jetbrains-mono/400.css');

:root {
    --width-content: 60rem;
    --width-90: 90rem;

    --font-family: "Noto Sans",ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Droid Sans","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-mono: "JetBrains Mono",monospace;
    
    --blueish-0: #0f1720;
    --blueish-1: #1c2a3b;
    --blueish-2: #406188;
    --blueish-3: #759fc3;
    --blueish-4: #f0f4f8;
    --grayish-0: #1b1b1e;
    --grayish-1: #2c2c2d;
    --grayish-2: #6c757d;
    --grayish-3: #889199;
    --grayish-4: #f2f2f2;
    --orange-0: #d2603a;    
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--grayish-0);
    font-family: var(--font-family);
    color: var(--grayish-4);
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    text-decoration: underline solid 2px;
    color: var(--orange-0);
}

main a {
    color: var(--blueish-3);
}

header, main, footer {
    width: 100%;
    padding: 0;
}

header{
    background-color: var(--blueish-1);
    border-bottom: 1px solid var(--blueish-2);
    font-size: 1.2rem;
}

header > div {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;

    width: 100%;
    max-width: var(--width-90);
    margin: 0 auto;
    padding: .5rem 1rem;
}

/* header .site-logo { 
} */

header .site-logo-link{
    max-height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

header .site-logo-image{
    max-height: 2.75rem;
    border: 1px solid var(--blueish-4);
    padding: .25rem;
    background-color: var(--blueish-0);
}

/* header .site-nav{
} */

header .site-nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    list-style: none;
    padding: 0;
}

header .site-nav li {
    display: inline-block;
    text-align: center;
    padding: 0;
}

main{
    flex-grow: 1;
    padding: 0 1rem;
    margin: 0 auto;
    width: 100%;
    max-width: var(--width-content);
}

main p{
    line-height: 1.65em;
}

pre, code, kbd{
    font-size: 1rem;
    font-family: var(--font-family-mono);
}

pre{
    white-space: pre-wrap;
    overflow: auto;
}

pre code{
    display: inline-block;
    /* border-left: 4px solid #ffe135; */
    background-color: var(--blueish-1);
    width: 100%;
    padding: 1rem calc(2rem - 6px);
}

code {
    padding: 2px 6px;
    word-wrap: break-word;
    background-color: var(--blueish-1);
    color: var(--blueish-4);
    border: 1px solid var(--blueish-2);
}


footer{
    background-color: var(--blueish-1);
    border-top: 1px solid var(--blueish-2);
}

footer > div {
    width: 100%;
    max-width: var(--width-90);
    margin: 0 auto;
    padding: .5rem 1rem;
}

footer p {
    margin: .5rem 0;
}

h1,h2,h3{
    text-transform: lowercase;
}

.hero{
    background-color: var(--blueish-1);
    border: 1px solid var(--blueish-2);
    border-radius: 8px;
    margin: 1rem 0;
    padding: 1rem;
}

.hero p{
    line-height: 3rem;
    color: var(--blueish-4)
}

/* blog post article stuff */
article{
    margin-bottom: 3rem;
}
article h1{
    font-size: 2em;
}

article a{
    text-decoration: underline solid 2px;
}

article .footnotes{
    font-size: .95rem;
}

article hr{
    border-bottom: var(--grayish-3);
}

article blockquote{
    padding: .25rem 2rem;
    margin: 1rem 0;
    border-left: 2px solid var(--blueish-2);
}

figure{
    max-width: 100%;
    margin: 1rem 0;
}

figure img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin: 0 auto .5rem auto;
}

figure figcaption{
    text-align: center;
    font-style: italic;
    font-size: .9rem;
}

.post-header{
    padding-bottom: 1rem;
}

.post-footer{
    margin-top: 2rem;
}

/* posts stuff */
.post-list{
    list-style-type: none;
    padding: 0;
    margin-top: 2rem;
}

.post-list .post-item{
    padding: 1rem 0 1.5rem 0;
    border-bottom: 1px solid var(--grayish-1);
}

.post-list h2{
    margin-top: .5rem;
}

.post-meta {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 16px;
}

.post-list hr{
    border: 1px solid var(--grayish-0);
}
.post-list hr:last-of-type{
    display: none;
}

.page-nav {
    list-style-type: none;
    margin: 2rem 0;
    padding: 0;
    text-align: center;
}

.page-nav li{
    display: inline-block;
    margin: 0 .25rem;
    padding: 0;
    font-weight: 700;
}

.page-nav li .page-nav-page-num{
    padding: .25rem .5rem;
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

[aria-current]{
    border: 1px solid var(--blueish-2);
    border-radius: 50%;
}

/* tag lists */
.tag-list{
    margin: 8px 0;
    padding: 0;
    list-style: none;

    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.tag{
    display: inline-block;
    border: 1px solid var(--grayish-2);
    border-radius: 1rem;
}

.tag:hover{
    background-color: var(--blueish-2);
    border: 1px solid var(--blueish-2);
}

.tag:hover a{
    color: var(--grayish-4);
}

.tag a{
    display: block;
    padding: 4px 8px;
    text-decoration: none;
    text-align: center;
    font-size: .9rem;
    color: var(--grayish-2);
}

.tag a:hover{
    text-decoration: none;
    color: var(--blueish-4);
}

.subheading {
    font-style: italic;
}

.hr-dashed{
    border-bottom: 1px dashed var(--grayish-3);
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.text-xl{
    font-size: 2rem;
}

.text-s{
    font-size: .9rem;
}

.text-xs{
    font-size: .8rem;
}

.text-muted{
    color: var(--grayish-3);
}

.font-mono{
    font-family: var(--font-family-mono);
}

.no-margin{
    margin: 0;
}

/* media queries */
@media (prefers-color-scheme: light){
    body {
        background-color: var(--grayish-4);
    }
    
    main{
        color: var(--grayish-0);
    }

    main a {
        color: var(--blueish-2);
    }

    hr{
        border-bottom: 1px solid var(--blueish-1);
    }

    .hr-dashed{
        border-bottom: 1px dashed var(--blueish-1);
    }
}