---
layout: layouts/default
title: Books
metaTagline: A list of books that I'm reading or have finished.
---

<p class="mb-4">
  {{ metaTagline }} Read about how I created this page in
  <a href="/posts/2025/creating-a-books-page">this blog post</a>.
</p>

<div class="mb-4">
  Jump to:
  <ul>
    <li><a href="#current">Currently Reading</a></li>
    <li><a href="#finished">Finished Reading</a></li>
    <li><a href="#tbr">To Be Read</a></li>
    <li><a href="#dnf">Did Not Finish</a></li>
  </ul>
</div>

<p class="mb-4 italic">Last updated: {{ books.lastUpdated | dateByFormat("MMMM d, y") }}</p>

<div class="mt-8">
  <h2 class="my-4 text-lg font-bold" id="current">Currently Reading ({{ books.current.length }})</h2>
  <div class="grid justify-around gap-5 [grid-template-columns:repeat(auto-fill,100px)]">
    {%- for book in books.current %}
      <a href="{{ book.goodreadsLink }}">
        {% set alt -%}Cover of {{ book.title }} by {{ book.author }}{%- endset %}
        {% set title -%}{{ book.title }} by {{ book.author }}{%- endset %}
        {% image book.coverUrl, alt, title, ["100"], "object-fit b-2 hover:rounded hover:outline hover:outline-4 hover:outline-blue-600", book.goodreadsId %}
      </a>
    {%- endfor -%}
  </div>
</div>

<div class="mt-8">
  <h2 class="my-4 text-lg font-bold" id="finished">Finished Reading ({{ books.read.length }})</h2>
  <p class="mb-4 text-sm">🎧 = audiobook | ⭐ = really liked it</p>
  <div class="grid justify-around gap-5 [grid-template-columns:repeat(auto-fill,100px)]">
    {%- for book in books.read | sortDateByKey("dateRead", "desc") %}
      <div class="flex flex-col justify-end gap-y-1">
        <a href="{{ book.goodreadsLink }}">
          {% set alt -%}Cover of {{ book.title }} by {{ book.author }}{%- endset %}
          {% set title -%}{{ book.title }} by {{ book.author }}{%- endset %}
          {% image book.coverUrl, alt, title, ["100"], "object-fit b-2 hover:rounded hover:outline hover:outline-4 hover:outline-blue-600", book.goodreadsId %}
        </a>
        <div class="h-9 text-center text-xs">
          <div>{{ book.dateRead | dateByFormat("MMM y") }}</div>
          <div>
            {%- if book.binding === 'audiobook' %}
              🎧
            {%- endif %}
            {%- if book.rating > 3 %}
              ⭐
            {%- endif %}
          </div>
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>

<div class="mt-8">
  <h2 class="my-4 text-lg font-bold" id="tbr">To Be Read</h2>
  <p class="mb-4">I'll definitely get around to reading those ADHD books one day...</p>
  <details>
    <summary>List of books</summary>
    <ul>
      {%- for book in books.tbr | sortByKey("title") %}
        <li class="my-2">
          <a class="font-bold" href="{{ book.goodreadsLink }}">{{ book.title }}</a>
          {{ book.author }}
        </li>
      {%- endfor -%}
    </ul>
  </details>
</div>

<div class="mt-8">
  <h2 class="my-4 text-lg font-bold" id="dnf">Did Not Finish</h2>
  <p class="mb-4">
    While there's usually no specific reason why I choose not to finish a book, generally it comes down to "just
    couldn't get into it".
  </p>
  <details>
    <summary>List of books</summary>
    <ul>
      {%- for book in books.dnf | sortByKey("title") %}
        <li class="my-2">
          <a class="font-bold" href="{{ book.goodreadsLink }}">{{ book.title }}</a>
          {{ book.author }}
        </li>
      {%- endfor -%}
    </ul>
  </details>
</div>
