---
layout: layouts/default
title: Books
metaTagline: A list of books that I'm currently reading or finished reading, to the best of my memory.
---

<p class="mb-4">
  {{ metaTagline }} Read about how I created this page in
  <a href="/posts/2025/creating-a-books-page">this blog post</a>.
</p>

<div class="mb-4">
  Jump to:
  <ul>
    <li><a href="#current">Currently Reading</a></li>
    <li><a href="#finished">Finished Reading</a></li>
    <li><a href="#tbr">To Be Read</a></li>
    <li><a href="#dnf">Did Not Finish</a></li>
  </ul>
</div>

<p class="mb-4">Last updated: {{ books.lastUpdated | dateByFormat("MMMM d, y") }}</p>

<div class="mt-8">
  <h2 class="my-4 text-lg font-bold" id="current">Currently Reading</h2>
  <div class="grid justify-around gap-5 [grid-template-columns:repeat(auto-fill,100px)]">
    {%- for book in books.current %}
      <div>
        <a href="{{ book.goodreadsLink }}">
          {% set alt -%}Cover of {{ book.title }} by {{ book.author }}{%- endset %}
          {% set title -%}{{ book.title }} by {{ book.author }}{%- endset %}
          {% image book.coverUrl, alt, title, ["100"], "object-fit b-2 hover:rounded hover:outline hover:outline-4 hover:outline-blue-600", book.goodreadsId %}
        </a>
      </div>
    {%- endfor -%}
  </div>
</div>

<div class="mt-8">
  <h2 class="my-4 text-lg font-bold" id="finished">Finished Reading ({{ books.read.length }})</h2>
  <div class="grid justify-around gap-5 [grid-template-columns:repeat(auto-fill,100px)]">
    {%- for book in books.read %}
      <div class="flex flex-col items-center gap-y-0.5 text-center text-xs">
        <a href="{{ book.goodreadsLink }}">
          {% set alt -%}Cover of {{ book.title }} by {{ book.author }}{%- endset %}
          {% set title -%}{{ book.title }} by {{ book.author }}{%- endset %}
          {% image book.coverUrl, alt, title, ["100"], "w-100 object-fit b-2 hover:rounded hover:outline hover:outline-4 hover:outline-blue-600", book.goodreadsId %}
        </a>
        <div>{{ book.dateRead | dateByFormat("MMM yyyy") }}</div>
        <div>
          {%- if book.binding === 'audiobook' %}
            <span>🎧</span>
          {%- endif %}
          {%- if book.rating > 3 %}
            <span>⭐</span>
          {%- endif %}
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>

<div class="mt-8">
  <h2 class="my-4 text-lg font-bold" id="tbr">To Be Read</h2>
  <p class="mb-4">I'll definitely get around to reading those ADHD books one day...</p>
  <details>
    <summary>List of books</summary>
    <ul>
      {%- for book in books.tbr %}
        <li class="my-2">
          <a class="font-bold" href="{{ book.goodreadsLink }}">{{ book.title }}</a>
          {{ book.author }}
        </li>
      {%- endfor -%}
    </ul>
  </details>
</div>

<div class="mt-8">
  <h2 class="my-4 text-lg font-bold" id="dnf">Did Not Finish</h2>
  <p class="mb-4">
    While there's usually no specific reason why I choose not to finish a book, generally it comes down to "just
    couldn't get into it".
  </p>
  <details>
    <summary>List of books</summary>
    <ul>
      {%- for book in books.dnf %}
        <li class="my-2">
          <a class="font-bold" href="{{ book.goodreadsLink }}">{{ book.title }}</a>
          {{ book.author }}
        </li>
      {%- endfor -%}
    </ul>
  </details>
</div>
