---
layout: false
permalink: feed.xml
eleventyExcludeFromCollections: true
metadata:
    title: Spencer Harston
    subtitle: The personal website of Spencer Harston
    url: https://www.spencerharston.com/
    feedUrl: https://www.spencerharston.com/feed.xml
    author:
        name: Spencer Harston
        email: 
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ metadata.title }}</title>
    <subtitle>{{ metadata.subtitle }}</subtitle>
    <link href="{{ metadata.feedUrl }}" rel="self" />
    <link href="{{ metadata.url }}" />
    <updated>{{ collections.posts | getNewestCollectionItemDate | dateRFC3339 }}</updated>
    <id>{{ metadata.url }}</id>
    <author>
        <name>{{ metadata.author.name }}</name>
        <email>{{ metadata.author.email }}</email>
    </author>
    <icon>/static/img/sh.png</icon>
    {%- for post in collections.posts %}
    {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
    <entry>
        <title>{{ post.data.title }}</title>
        <link href="{{ absolutePostUrl }}" />
        <summary>{{ post.data.description }}</summary>
        <updated>{{ post.date | dateRFC3339 }}</updated>
        <id>{{ absolutePostUrl }}</id>
        <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
    </entry>
    {%- endfor %}
</feed>