---
layout: layouts/base
---

<div class="hero">
    <p class="text-center text-xl">The Personal Website of Spencer Harston</p>
</div>

<p class="text-center">A home for my thoughts, experiences and anything else I feel like.</p>
<p class="text-center">You can find all my blog posts over in <a href="/posts">Posts</a> and you can learn more about me in the <a href="/about">About page</a>.</p>
<p class="text-center text-s"><em>This site is currently under active development so it'll probably change.</em></p>

<hr>

{% set latestPost = collections.posts | sortDesc | first %}
<p class="text-center text-l">Latest Post: <a href="{{ latestPost.url }}">{{ latestPost.data.title }}</a></p>
