---
pagination:
    data: collections.posts
    size: 10
    alias: posts
    reverse: true
layout: layouts/default
title: Posts
---
{% from "macros/posts-list.njk" import postsList %}

<p class="my-4">The occasional thought/hot take/neat thing I feel like sharing. <em>Occasional is the keyword here...</em></p>

{{ postsList(pagination.items) }}

<nav>
    <ul class="my-8 mx-0 p-0 text-center">
        <!-- <li>{% if page.url != pagination.href.first %}<a href="{{ pagination.href.first }}">&lt;&lt;</a>{% else %}&lt;&lt;{% endif %}</li> -->
        <li class="inline-block my-0 mx-1 p-0 text-center">
            {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">&lt;</a>{% else %}&lt;{% endif %}
        </li>
        {%- for pageEntry in pagination.pages %}
        <li class="inline-block my-0 mx-1 p-0 text-center">
            <a href="{{ pagination.hrefs[loop.index0] }}" {% if page.url == pagination.hrefs[loop.index0] %} aria-current="page" {% endif %} class="inline-block py-1 px-2 w-8 h-8 aria-current:border aria-current:border-solid aria-current:rounded-full">{{ loop.index }}</a>
        </li>
        {% endfor -%}
        <li class="inline-block my-0 mx-1 p-0 text-center">
            {% if pagination.href.next %}<a href="{{ pagination.href.next }}">&gt;</a>{% else %}&gt;{% endif %}
        </li>
        <!-- <li>{% if page.url != pagination.href.last %}<a href="{{ pagination.href.last }}">&gt;&gt;</a>{% else %}&gt;&gt;{% endif %}</li> -->
    </ul>
</nav>

<div class="text-center">
    <div>Filter posts:</div>
    <ul class="inline-flex flex-row flex-wrap justify-center gap-2 my-2 mx-0">
        {% for tag in collections.tagList %}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <li class="inline-block border border-solid rounded-2xl border-black">
            <a href="{{ tagUrl }}" class="block py-0.5 px-2 no-underline text-center text-xs">{{ tag }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<p class="my-2 text-center text-sm">Want to know when a draft ascends to a post? <a href="/feed.xml">Add the feed to your RSS reader</a>.</p>
