---
pagination:
    data: collections.posts
    size: 10
    alias: posts
    reverse: true
layout: layouts/default
title: Posts
---
{%- from "macros/posts-list.njk" import postsList %}
{%- from "macros/tags-list.njk" import tagsList %}

<p class="my-4">The occasional thought/hot take/neat thing I feel like sharing. <em>Occasional is the keyword here...</em></p>

{{ postsList(pagination.items) }}

<nav class="flex flex-row flex-wrap items-center justify-center my-4" aria-label="Pagination">
{%- if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}">
        <span class="sr-only">Previous</span> 
        {% iconify "chevron-left", "22" %}
    </a>
{% else %}
    {% iconify "chevron-left", "22" %}
{%- endif %}
{%- for pageEntry in pagination.pages %}
    <a href="{{ pagination.hrefs[loop.index0] }}" {% if page.url == pagination.hrefs[loop.index0] %} aria-current="page" {% endif %} class="relative inline-flex items-center px-3 py-1 text-sm aria-current:border aria-current:border-gray-500 aria-current:border-solid aria-current:rounded-md">{{ loop.index }}</a>
{%- endfor -%}
{%- if pagination.href.next %}
    <a href="{{ pagination.href.next }}">
        <span class="sr-only">Next</span>
        {% iconify "chevron-right", "22" %}
    </a>
{%- else %}
    {% iconify "chevron-right", "22" %}
{%- endif %}
</nav>

<div class="text-center">
    <div>Filter posts:</div>
    {{ tagsList(collections.tagList) }}
</div>

<p class="my-2 text-center text-sm">Want to know when a draft ascends to a post? <a href="/feed.xml">Add the feed to your RSS reader</a>.</p>
