---
permalink: /_redirects
eleventyExcludeFromCollections: true
---
{#- The following snippet will generate cloudflare redirect rules if the post has a `redirectFrom` property and a value of where the page originally was from -#}

{#- {%- for page in collections.posts -%}
    {%- if page.url and page.data.redirectFrom and not page.data.draft %}
{{ page.data.redirectFrom }} {{ page.url }} 301
    {%- endif -%}
{%- endfor -%} -#}
{#- Manually set redirects only for these pages because they were the only ones affected before reorganizing posts by year -#}
/posts/books-of-2024/ /posts/2024/books-of-2024/ 301
/posts/media-reflection-of-2023/ /posts/2023/media-reflection-of-2023/ 301
/posts/app-defaults-2023/ /posts/2023/app-defaults-in-2023/ 301
/posts/hide-ubuntu-pro-messages/ /posts/2023/hide-ubuntu-pro-messages-in-ubuntu/ 301
/posts/books-of-2023/ /posts/2023/books-of-2023/ 301
/posts/updating-python-on-ubuntu-20-04-on-wsl2/ /posts/2022/updating-python-on-ubuntu-20-04-on-wsl2/ 301
/posts/a-drop-in-the-ocean/ /posts/2022/a-drop-in-the-ocean/ 301