---
layout: false
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
    {%- set pageDate = page.data.updated or page.data.date or page.date %}
    <url>
        <loc>{{ meta.base_url }}{{ page.url | url }}</loc>
        <lastmod>{{ pageDate | dateISOAlt }}</lastmod>
    </url>
{%- endfor %}
</urlset>