<footer>
    <div>
        <p>&copy; CURRENT_YEAR</p>
        <p>
            <a href="https://github.com/sphars">GitHub</a> | <a href="https://twitter.com/sphars_">Twitter</a>
        </p>
    </div>
</footer>