<header>
    <div class="site-logo">
        <a class="site-logo-link" href="/"><img src="static/img/android-chrome-192x192.png" alt="SH" class="site-logo-image" /></a>
        <p><i>The website of Spencer Harston</i></p>
    </div>
</header>