<header>
    <div class="site-logo">
        <a class="site-logo-link" href="/">
            <img src="static/img/android-chrome-192x192.png" alt="SH" class="site-logo-image" />
            <div>Spencer Harston</div>
        </a>
    </div>
    {% include 'partials/_navigation.njk' %}
</header>