<footer>
    <div>
        <p class="text-xs text-center">
            &copy;2022 • Powered by <a href="https://www.11ty.dev/">Eleventy</a>, <a href="https://https://www.netlify.com">Netlify</a> and 🍀 • <span class="font-mono">{% commit_link git.short_sha %}</span>
        </p>
    </div>
</footer>