<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="{{ author or metadata.author }}"/>
<meta name="description" content="{{ description or metadata.description }}">

<meta name="generator" content="{{ eleventy.generator }}">
{%- if type == "post" %}
<meta property="og:type" content="article">
<meta property="article:author" content="{{ author or metadata.author }}">
{%- endif %}
<meta property="og:title" content="{{ renderData.title or title or metadata.site_title }}">
<meta property="og:description" content="{{ description or metadata.description }}">
<meta property="og:url" content="{{ metadata.base_url }}{{ page.url }}">
<meta property="og:site_name" content="{{ metadata.site_title }}">
<!-- <meta property="og:image" content="/some-image.png"> -->

<!-- <meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:alt" content="Image descriptipn"> -->

<link rel="apple-touch-icon" sizes="180x180" href="/static/img/icons/apple-touch-icon.png?v=1">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/icons/favicon-32x32.png?v=1">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/icons/favicon-16x16.png?v=1">
<link rel="shortcut icon" href="/static/img/icons/favicon.ico?v=1">

<title>{{ renderData.title or title or metadata.site_title }}</title>

<link rel="stylesheet" type="text/css" href="/static/css/style.css">

{%- if env.environment == "production" %}
<script data-goatcounter="https://suave-sandwich.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
{%- endif %}