<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="{{ author or metadata.author }}"/>
<meta name="description" content="{{ description or metadata.description }}">

<meta name="generator" content="{{ eleventy.generator }}">
<meta property="og:title" content="{%- if renderData.title %}{{ renderData.title }} | {% elif title %}{{ title }} | {% endif %}{{ metadata.site_title }}">
<meta property="og:description" content="{{ description or metadata.description }}">
<meta property="og:url" content="{{ metadata.base_url }}{{ page.url }}">
<meta property="og:site_name" content="{{ metadata.site_title }}">
<!-- <meta property="og:image" content="/some-image.png"> -->

<!-- <meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:alt" content="Image descriptipn"> -->

<link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/icons/favicon-16x16.png">

<title>{%- if renderData.title %}{{ renderData.title }} | {% elif title %}{{ title }} | {% endif %}{{ metadata.site_title }}</title>

<link rel="stylesheet" type="text/css" href="/static/css/style.css">

<script data-goatcounter="https://suave-sandwich.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>