<header class="w-full bg-gray-800 p-0">
  <div class="mx-auto my-0 flex w-full max-w-3xl flex-wrap items-center justify-between gap-2 px-4 py-6">
    <a class="inline-block text-center text-3xl font-semibold" href="/" title="Spencer Harston">[sh]</a>

    <div class="flex flex-wrap items-center justify-around gap-x-8 gap-y-2">
      <nav>
        <ul class="flex flex-wrap items-center justify-center gap-x-6 text-lg">
          <li><a href="/posts">Posts</a></li>
        </ul>
      </nav>
      <div class="flex items-center justify-center gap-x-4">
        <a href="/feed.xml" title="RSS Feed of Posts">{% iconify "rss" %}</a>
        <button id="dark-mode-button" class="hover:text-blue-600 dark:hover:text-sky-500" title="Toggle dark mode">
          {% iconify "moon" %}
        </button>
      </div>
    </div>
  </div>
</header>
