<header>
    <div>
        <div class="site-logo">
            <a class="site-logo-link" href="/">
                <img src="/static/img/icons/logo.svg" alt="Logo" class="site-logo-image" />
                <div>Spencer Harston</div>
            </a>
        </div>

        <a role="button" aria-label="menu" aria-expanded="false" data-target="site-nav" class="nav-burger">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>

        {% include 'partials/navigation.njk' %}
    </div>
</header>