<nav class="site-nav" id="site-nav">
    <ul class="flex flex-col lg:flex-row flex-wrap justify-center items-end lg:items-center gap-y-1 lg:gap-x-6">
        <li><a href='/posts'>Posts</a></li>
        <li><a href='/about'>About</a></li>
    </ul>
</nav>